@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  color: #c8d3e1;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: hsl(225, 20%, 10%);
}

header {
  text-align: center;
  overflow: auto;
  border-bottom: 1px solid #3e4c5a;
}

nav {
  margin-left: 20px;
  border-right: 1px solid #3e4c5a;
}

main {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

footer {
  border-top: 1px solid #3e4c5a;
}

li {
  margin: 5px auto;
}

#c {
  display: block;
  height: 100%;
  width: 100%;
}
